* {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

.wrapper {
    height: 100vh;
    font-family: Arial;
    overflow: hidden;
}

.header {
    height: 7vh;
    background: #118bdd;
    color: #fff;
    line-height: 7vh;
    padding-left: 10px;
    border-bottom: #fff solid 1px;
}

.content {
    height: 93vh;
}

.sidebar {
    background: #118bdd;
    width: 20%;
    height: 100%;
    float: left;
}

a {
    text-decoration: none;
}

.sidebar a {
    color: #fff;
}

.sidebar li {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: #ddd solid 1px;
}

.sidebar li.active {
    background: #fff;
}

.sidebar li.active a {
    color: #333;
}

.sidebar li:hover {
    padding-left: 10px;
    background: #fff;
    transition: all 0.5s;
}

.sidebar li:hover a {
    color: #333;
}

.sidebar i {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.content-page {
    float: left;
    width: 80%;
}

.title {
    height: 50px;
    line-height: 50px;
    color: #333;
    border-bottom: #ddd solid 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.quanly {
    padding: 20px;
}

table {
    font-size: 14px;
    padding-top: 10px;
}

thead {
    background: #118bdd;
    color: #fff;
    font-weight: normal;
}

thead th {
    font-weight: initial !important;
    text-align: left;
    padding-left: 10px !important;
    border-right: #ddd solid 1px;
}

.txt-center {
    text-align: center !important;
}

tbody td {
    border: #ddd solid 1px !important;
}

.dataTables_filter input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: #ddd solid 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-them button {
    background: #cd1818;
    border: #cd1818 solid;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-them button i {
    margin-right: 5px;
}

.quanly table img {
    width: 50px;
}

.btn-thaotac i {
    font-size: 18px;
}

.btn-thaotac a {
    margin-right: 10px;
}

.btn-thaotac a:last-child {
    margin-right: 0;
}

.edit {
    color: #2196F3;
}

.delete {
    color: #E91E63;
}

.view {
    color: #4CAF50;
}

.quanly table p {
    margin-bottom: 0;
}

.ct {
    padding: 15px;
    font-size: 14px;
}

.box-form {
    position: relative;
    border: #ddd solid 1px;
    padding: 10px;
    padding-top: 20px;
}

.f-title {
    position: absolute;
    top: -10px;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.f-item label {
    display: block;
    margin-bottom: 5px;
}

.f-item {
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}

.f-item input,
.f-item textarea,
.f-item select {
    width: 100%;
    height: 35px;
    border: #ddd solid 1px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.f-item textarea {
    height: unset;
    padding: 10px;
}

.f-ten {
    width: 40%;
}

.f-hang,
.f-gia {
    width: 20%;
}

.f-dacdiem {
    width: 40%;
}

.f-anh {
    width: 45%;
}

.f-mota {
    width: 90%;
}

.info {
    display: flex;
    margin-bottom: 20px;
    border-bottom: #ddd solid 1px;
}

.info-box {
    flex: 1;
}

.info-item {
    margin-bottom: 10px;
}

.login {
    width: 500px;
    border: #ddd solid 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}

.login-title {
    background: #cd1818;
    color: #fff;
    text-align: center;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login form {
    padding: 10px;
    font-size: 14px;
}

.login-item {
    margin-bottom: 15px;
}

.login-item input {
    width: 95%;
    margin-top: 5px;
    border: #ddd solid 1px;
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.login-item input:focus {
    border: #03A9F4 solid 1px;
}

.login form button {
    background: #118bdd;
    color: #fff;
    border: #118bdd solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.login-btn {
    display: flex;
    justify-content: end;
}

.box-login {
    color: #333 !important;
}

.header {
    display: flex
}

.user-info {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
}

.user-info i {
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.user-info a {
    color: #fff;
}

.banner-thongke div {
    width: 300px;
    float: left;
    height: 150px;
    display: flex;
    flex-direction: column;
    /*! justify-content: center; */
    align-items: center;
    color: white;
}

.banner-thongke i {
    font-size: 40px;
    margin-bottom: 10px;
}

.banner-thongke p {
    font-size: 20px;
}

.thongke-tien {
    background: #e74c3c;
    margin-right: 75px;
}

.thongke-dienthoai {
    background: #27ae60;
    margin-right: 75px;
}

.thongke-khachhang {
    background: #f39c12;
}

.thongke-tieude {
    display: flex !important;
    align-items: flex-start !important;
    height: 30px !important;
    justify-content: center !important;
    padding-left: 10px;
    border-bottom: #fff solid 1px;
    margin-bottom: 20px;
}